<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SimpleJob</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--头部导航栏-->
    <div class="layui-header">

        <a href="/task/index.html">
            <div class="layui-logo"><img src="../static/images/logo.png"> Simple-Job</div>
        </a>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    zhangbing
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-this">
                    <a href="">定时任务</a>
                </li>

                <li class="layui-nav-item">
                    <a href="/task/monitor.html">任务监控</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>任务列表</legend>
        </fieldset>
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-btn-group demoTable">
                <button class="layui-btn" id="addTaskBut">新增任务</button>
            </div>
            <table class="layui-table" lay-skin="line" id="task-list" lay-filter="list"></table>
        </div>

    </div>

    <!--新增表单-->
    <div class="layui-row" id="addTaskForm" style="display: none;">
        <div class="layui-col-md10">
            <form class="layui-form layui-form-pane" id="edit" lay-filter="addTaskForm"
                  style="margin-top: 20px;margin-left: 20px" action="">

                <!--任务名称输入框-->
                <div class="layui-form-item">
                    <label class="layui-form-label">任务名称</label>
                    <div class="layui-input-block">
                        <input type="text" lay-verify="name234" name="name" autocomplete="off" placeholder="请输入任务名称"
                               class="layui-input">
                    </div>
                </div>

                <!--执行方式-->
                <div class="layui-form-item">
                    <label class="layui-form-label">执行方式</label>
                    <div class="layui-input-block">
                        <select name="type" lay-filter="taskType">
                            <option value="HTTP" selected="">http</option>
                            <option value="BEAN">bean</option>
                        </select>
                    </div>
                </div>

                <!--http类型的任务-->
                <div id="http">
                    <div class="layui-form-item">
                        <label class="layui-form-label">url</label>
                        <div class="layui-input-block">
                            <input type="text" name="url" autocomplete="off" placeholder="url 请保证输入的url可访问"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请求方式</label>
                        <div class="layui-input-block">
                            <select name="httpMethod" lay-filter="requestType">
                                <option value="GET">GET</option>
                                <option value="POST" selected="">POST</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--springbean类型任务-->
                <div id="bean" style="display: none;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">beanName</label>
                        <div class="layui-input-block">
                            <input type="text" name="beanName" autocomplete="off" placeholder="beanName"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">方法名</label>
                        <div class="layui-input-block">
                            <input type="text" name="methodName" autocomplete="off" placeholder="方法名"
                                   class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">参数</label>
                    <div class="layui-input-block">
                        <input type="text" name="args" autocomplete="off" placeholder="参数" class="layui-input">
                    </div>
                </div>

                <!--是否周期任务-->
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">周期任务</label>
                    <div class="layui-input-block" id="isPeriod">
                        <input type="radio" name="period" value="true" title="是" checked="" lay-filter="period">
                        <input type="radio" name="period" value="false" title="否" lay-filter="period">
                    </div>
                </div>

                <!--设置周期时间-->
                <dev id="setPeriodTime">
                    <div class="layui-form-item">
                        <label class="layui-form-label">执行时间(ms)</label>
                        <div class="layui-input-block">
                            <input type="text" name="afterTime" autocomplete="off" placeholder="多少毫秒后开始执行"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">执行周期</label>
                        <div class="layui-input-block">
                            <input type="text" name="periodTime" autocomplete="off" placeholder="每隔多少ms执行一次"
                                   class="layui-input">
                        </div>
                    </div>

                </dev>

                <!--非周期任务 设置执行时间点-->
                <dev id="setExecTime" style="display: none">
                    <div class="layui-form-item">
                        <label class="layui-form-label">执行时间</label>
                        <div class="layui-input-block">
                            <input type="datetime-local" step="01" name="time" id="time" autocomplete="off"
                                   placeholder="执行时间点"
                                   class="layui-input">
                        </div>
                    </div>
                </dev>

                <!--cron表达式-->
                <div class="layui-form-item">
                    <label class="layui-form-label">cron</label>
                    <div class="layui-input-block">
                        <input type="text" name="cron" autocomplete="off" placeholder="cron表达式 非空时 优先使用"
                               class="layui-input">
                    </div>
                </div>

                <!--描述-->
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="描述" class="layui-textarea"></textarea>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © simple-job
    </div>
</div>

<script src="../static/layui/layui.js"></script>
<script src="../static/jquery.min.js"></script>

<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="status" value="{{d.status}}" lay-skin="switch" lay-text="开启|禁用" lay-filter="setStatus"
           {{ d.status=='RUNNING' ? 'checked' : '' }} >
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>

    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    layui.use(['table', 'form'], function () {
        var table = layui.table
            , form = layui.form;

        table.render({
            id: "jobTable"
            , elem: '#task-list'
            , url: '/register/list'
            , method: 'POST'
            , contentType: 'application/json'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , page: true
            , cols: [[
                {field: 'id', title: '任务id'}
                , {field: 'name', title: '任务名称'}
                , {field: 'type', title: '任务类型'}
                , {field: 'beanName', title: 'service'}
                , {field: 'methodName', title: '方法名'}
                , {field: 'url', title: '请求地址'}
                , {
                    field: 'time', title: '执行时间(ms)', templet: function (d) {
                        if (d.isPeriod == '0') {  // 自定义内容
                            return Format(d.time, "yyyy-MM-dd hh:mm:ss");
                        } else {
                            return d.time;
                        }
                    }
                }
                , {field: 'periodTime', title: '执行周期'}
                , {field: 'desc', title: '任务描述'}
                , {field: 'cron', title: 'cron'}
                , {
                    field: 'isPeriod', title: '周期任务', templet: function (d) {
                        if (d.isPeriod == '0') {  // 自定义内容
                            return "非周期任务";
                        } else if (d.isPeriod == '1') {
                            return "周期任务";
                        }
                    }
                }
                , {field: 'status', title: '任务状态', templet: '#switchTpl', unresize: true}
                , {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'}

            ]]
            , parseData: function (res) {
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "data": res.data.list,//解析数据列表
                    "count": res.data.total
                }
            }

        });

        //监听启动开关
        form.on('switch(setStatus)', function (obj) {
            // layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
            //当前元素
            var data = $(obj.elem);
            //遍历父级tr，取第一个，然后查找第一个td，取值
            var id = data.parents('tr').first().find('td').eq(0).text();
            if (obj.elem.checked) {
                $.ajax({
                    url: '/register/reStart',
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json',
                    data: '{"taskId":"' + id + '"}',
                    timeout: 5000,
                    success: function (data) {
                        var json = eval("(" + data + ")");
                        if (json.message !== null) {
                            layer.msg(json.message)
                        } else {
                            layer.msg("操作成功")
                        }

                    },
                    error: function () {
                        layer.msg("操作失败")
                    }
                })
            } else {
                $.ajax({
                    url: '/register/stop',
                    type: 'POST',
                    dataType: 'text',
                    contentType: 'application/json',
                    data: '{"taskId":"' + id + '"}',
                    timeout: 5000,
                    success: function (data) {
                        var json = eval("(" + data + ")");
                        if (json.message !== null) {
                            layer.msg(json.message)
                        } else {
                            layer.msg("操作成功")
                        }
                    },
                    error: function () {
                        layer.msg("操作失败")
                    }
                })
            }
        });

        //监听查看 编辑 删除 按钮
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                if (data.status == "RUNNING") {
                    layer.alert('请禁用后，在删除')
                } else {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        layer.close(index);
                    });
                }

            } else if (obj.event === 'edit') {

                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });

        //监听任务执行方式
        form.on('select(taskType)', function (data) {
            var message = $("select[name=type").val();

            if (message == "HTTP") {
                $("#bean").hide();
                $("#http").show();
            } else if (message == "BEAN") {
                $("#bean").show();
                $("#http").hide();
            }
        });

        //监听redio组件
        form.on('radio(period)', function (data) {

            if ($('#isPeriod input[name="period"]:checked ').val() == "true") {
                $("#setPeriodTime").show();
                $("#setExecTime").hide();
            } else {
                $("#setPeriodTime").hide();
                $("#setExecTime").show();
            }
        });

        //新增任务按钮
        $("#addTaskBut").click(function () {
            layer.open({
                type: 1,
                title: "信息更新",
                area: ['600px', '800px'],
                content: $("#addTaskForm"),//引用的弹出层的页面层的方式加载修改界面表单
                btn: ['确认', '取消'],
                yes: function (index, layero) {
                    //表单取值
                    var data = form.val('addTaskForm');
                    if (data.period == "true") {
                        data.time = data.afterTime;
                    } else if (data.period == "false") {
                        data.time = new Date(data.time).getTime();
                    }

                    var url = "/register/beanTask"
                    if (data.type == "HTTP") {
                        url = "/register/httpTask"
                    }

                    if (data.name == "") {
                        layer.alert('任务名称不能为空');
                    }else {
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'text',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            timeout: 5000,
                            success: function (data) {
                                var json = eval("(" + data + ")");
                                if (json.message !== null) {
                                    layer.msg(json.message)
                                } else {
                                    layer.msg("操作成功")
                                }
                                layer.close(index);
                                table.reload();
                            },
                            error: function (data) {
                                layer.msg(data.message)
                            }
                        })
                    }


                },
                btn2: function (index, layero) {
                    layer.close(index);
                }
            });
        });

    });


    function Format(datetime, fmt) {
        if (parseInt(datetime) == datetime) {
            if (datetime.length == 10) {
                datetime = parseInt(datetime) * 1000;
            } else if (datetime.length == 13) {
                datetime = parseInt(datetime);
            }
        }
        datetime = new Date(datetime);
        var o = {
            "M+": datetime.getMonth() + 1,                 //月份
            "d+": datetime.getDate(),                    //日
            "h+": datetime.getHours(),                   //小时
            "m+": datetime.getMinutes(),                 //分
            "s+": datetime.getSeconds(),                 //秒
            "q+": Math.floor((datetime.getMonth() + 3) / 3), //季度
            "S": datetime.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (datetime.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

</body>
</html>